body {
	margin: 0;
	font-size: 2em;
}

table#liens {
	width: 100%;
	border-collapse: collapse;
}

table#liens td {
	width: 50%;
	border: none;
	font-size: 0.8em;
}

table#liens td:last-child {
	text-align: right;
}

input, button, select, option, textarea {
	font-size: 90%;
}

form > p {
	font-size: 75%;
}

#flaccbox > div, #evendolbox > div {
	text-align: left;
	font-size: 70%;
}

footer {
	margin-top: 2em;
	font-size: 1rem;
}

#contenu {
	max-width: 900px;
	margin: auto;
	padding: 0;
	background: lightgray;
}

fieldset {
	text-align: center;
	padding: 0.3em 0;
	margin: 0.5em 0;
}

fieldset, fieldset > legend {
	background: white;
}

fieldset.visibilite > legend {
	font-size: 1.2em;
}

.visibilite {
	display: none;
}

.visibilite > input {
	display: none;
}

.recto {
	margin: 0;
	padding: 0;
}

.recto > img {
	width: 100%;
}

.verso {
	display: none;
	margin: 0;
	padding: 0;
	font-size: 0.5em;
}

.verso > img {
	max-height: 80vh;
	max-width: 100%;
}

.ttt {
	height: 1.5em;
	vertical-align: bottom;
}

.nom_patient {
	background: yellow;
}

div.evaluations_patient > fieldset,
div#evaluations > fieldset {
	background: white;
	margin-bottom: 0.4em;
	font-family: Consolas;
	font-size: 1.8rem;
}

legend.temps {
	text-align: center;
	font-family: serif;
	font-size: .8em;
}

button.supprimer {
	height: 1.5em;
	width: 1.5em;
	background: url("https://emojipedia-us.s3.amazonaws.com/thumbs/120/mozilla/36/cross-mark_274c.png") no-repeat;
	background-size: contain;
}

div#toggles {
	text-align: center;
	font-size: 1.5em;
}

#fpabox > div.recto > label {
	margin: -5px;
	display: inline-block;
	cursor: pointer;
	width: 15%;
	max-width: 140px;
}

#fpabox > div.recto > label > input[type="radio"] {
	display: none;
	position: absolute;
}

#fpabox > div.recto > label > input[type="radio"] + img {
	pointer-events: none;
	border: 2px solid transparent;
}

#fpabox > div.recto > label > input[type="radio"]:checked + img {
	border: 2px solid red;
}

div#eed_carte {
	background: url("evendol/recto.png") no-repeat;
	background-size: contain;
	width: 100%;
	height: 64vw;
	max-height: 590px;
	position: relative
}

div#eed_carte input[type="radio"] {
	display: none;
	position: absolute;
}

div#eed_carte input[type="radio"] + div {
	position: absolute;
	cursor: pointer;
	border: 2px solid green;
	width: 6%;
	height: 9%;
	border-radius: 50%;
	margin-left: -3%;
	margin-top: -4.5%;
}

div#eed_carte input[type="radio"]:checked + div {
	border-color: red;
	background: rgba(255,0,0, 0.5);
}

label#eed_ex_0 > div { top: 43%;   left: 39.5%; }
label#eed_ex_1 > div { top: 43%;   left: 49.2%; }
label#eed_ex_2 > div { top: 43%;   left: 58.9%; }
label#eed_ex_3 > div { top: 43%;   left: 68.6%; }
label#eed_mi_0 > div { top: 54.6%; left: 39.5%; }
label#eed_mi_1 > div { top: 54.6%; left: 49.2%; }
label#eed_mi_2 > div { top: 54.6%; left: 58.9%; }
label#eed_mi_3 > div { top: 54.6%; left: 68.6%; }
label#eed_mo_0 > div { top: 66.2%; left: 39.5%; }
label#eed_mo_1 > div { top: 66.2%; left: 49.2%; }
label#eed_mo_2 > div { top: 66.2%; left: 58.9%; }
label#eed_mo_3 > div { top: 66.2%; left: 68.6%; }
label#eed_po_0 > div { top: 77.8%; left: 39.5%; }
label#eed_po_1 > div { top: 77.8%; left: 49.2%; }
label#eed_po_2 > div { top: 77.8%; left: 58.9%; }
label#eed_po_3 > div { top: 77.8%; left: 68.6%; }
label#eed_en_0 > div { top: 89.4%; left: 39.5%; }
label#eed_en_1 > div { top: 89.4%; left: 49.2%; }
label#eed_en_2 > div { top: 89.4%; left: 58.9%; }
label#eed_en_3 > div { top: 89.4%; left: 68.6%; }
label#eed_r_pr > div { top: 26%;   left: 76%; }
label#eed_m_pr > div { top: 32%;   left: 81%; }
label#eed_r_po > div { top: 26%;   left: 89%; }
label#eed_m_po > div { top: 32%;   left: 94%; }

div.formdiv {
	display: inline-block;
	margin: auto;
	height: 67vh;
	width: 33vh; /* 80vh * 500 / 1216; */
	background: url("eva/recto.png");
	background-size: contain;
	padding: 0;
	padding-top: 13vh;
}

div.formdiv > input {
	-webkit-appearance: none;
	width: 55vh;
	height: 32.5vh;
	transform-origin: 27.5vh 27.5vh;
	transform: rotate(-90deg);
	margin: 0;
	margin-left: -2.5vh;
	background: transparent;
}

div.formdiv > input::-moz-range-track {
	visibility: hidden;
}

div.formdiv > input::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	border: none;
}

div.formdiv > input::-moz-range-thumb {
	height: 12vh;
	width: 4vh;
	border: none;
	background: url("eva/doigt.png") no-repeat;
	background-size: contain;
	visibility: visible;
}

div.formdiv > input::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12vh;
	width: 4vh;
	background: url("eva/doigt.png") no-repeat;
	background-size: contain;
	visibility: visible;
}

#flaccbox > div.recto > table {
	border: 2px solid black;
	border-collapse: collapse;
}

#flaccbox > div.recto th {
	border: 1px solid black;
	border-right-width: 2px;
	width: 17%;
}

#flaccbox > div.recto th + td {
	border: 1px solid black;
	width: 53%;
}

#flaccbox > div.recto th + td td:first-child {
	vertical-align: top;
	padding-right: 1em;
}

#flaccbox > div.recto td input[type="radio"] {
	display: none;
	position: absolute;
}

#flaccbox > div.recto td div {
	border: 2px solid green;
	cursor: pointer;
	text-align: center;
	font-size: 3em;
	width: 10vw;
	max-width: 90px;
	height: 10vw;
	max-height: 90px;
	border-radius: 50%;
}

#flaccbox > div.recto td input[type="radio"]:checked + div {
	border-color: red;
	background: rgba(255,0,0, 0.5);
}

#toutsupprimer {
	margin-top: 1em;
}